// Theme's Palette
@import("C:/Users/xian/Desktop/个人博客/YE/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/Users/xian/Desktop/个人博客/YE/docs/.vuepress/styles/palette.styl")